{% extends 'authentication/main.html'%}
{% load static %}
{% block content %}
{% for Book in new_books %}
    <div class="row">
        <div class="col-md-3 product-men">
            <img class="thumbnail" scr="{{ Book.bookcover.url }}">
            <div class="box-element book-title">
                <h6><strong>{{ Book.title }}</strong></h6>
                <p>{{ Book.author }}</p>
                <hr>
                <button class="btn btn-outline-secondary add-btn">Add to Borrow</button>
                <a class="btn btn-outline-success" href="#">View</a>
                <h4 style="display: inline-block;float: right">0</h4>

            </div>

      
        </div>

    </div>
    {% endfor %}
    
{% endblock content %}